@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
  --back: #edf6f9;
  --green: #06d6a0;
  --purple: #6a0dad;
  --savings-height: 0%;
  --savings-color: rgba(106, 13, 173, 0.3);
  --expense-height: 0%;
  --expense-color: linear-gradient(
    0deg,
    rgba(94, 0, 255, 1) 0%,
    rgba(106, 13, 173, 1) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}

body {
  background: url(vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 65%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

main {
  height: 500px;
  width: 250px;
  border-radius: 35px;
  position: relative;
  transition: all 1s ease-in;
}

.warning {
  box-shadow: 0 0 25px 5px rgb(255, 0, 0);
  transition: all 4s ease-in;
}

.content {
  width: 85%;
  height: 85%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 35px 0 65px;
  position: absolute;
  right: 0;
  z-index: 0;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bar {
  position: absolute;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: all 2s ease-in;
}

.savingsBar {
  height: var(--savings-height);
  background: var(--savings-color);
}

.expenseBar {
  height: var(--expense-height);
  background: var(--expense-color);
}

.tagText {
  font-size: 0.75em;
  width: 15%;
  padding-top: 2%;
}

.addBudget {
  border-radius: 5px;
}

.items {
  width: 100%;
}

.itemList {
  padding: 1em;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #dfdfdf solid;
  margin: 0.5em;
}

.adjustItems {
  display: flex;
  width: 90%;
}

.addItem {
  border-radius: 5px 0 0 5px;
  flex: 2.5;
}

.addPrice {
  flex: 1;
}

input,
button {
  text-transform: uppercase;
  padding: 5% 0;
}

input {
  border: 1px solid lightgray;
  background: var(--back);
  text-align: center;
  color: lightgray;
  font-size: 0.75em;
  width: 80%;
  color: black;
}

.updateItem {
  border-radius: 5px 0 0 5px;
}

button {
  border-radius: 0 5px 5px 0;
  padding: 5%;
  background: var(--expense-color);
  border: none;
  box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.4);
  font-size: 0.75em;
  color: #fff;
}

.savingsWrapper {
  position: absolute;
  bottom: 2.5%;
  width: 100%;
  line-height: 1.2;
  transition: all 3s;
  opacity: 0;
}

.savingsAmount h3 {
  font-size: 3em;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}
